:root {
	--bluePrincipal: #044853;
	--graySmoke: #c6cccd;
	--blueSecondary: #09cfd5;
	--smoke: #ececec;
	--shadow: #5d5d5d;
}

html, body {
	overflow-x: hidden;
}

#navbar {
	background-color: var(--bluePrincipal);
}

#menuBuscador {
	background-color: var(--white);
    color: var(--graySmoke);
    border: unset;
    border-top: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    margin-right: 10px;
    border-radius: 5px 0 0 5px;
}

#inputSearch {
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#buttonSearch {
	background-color: var(--blueSecondary);
    color: var(--white);
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    z-index: 9;
    right: 0;
}

#money {
	font-size: 18px;
	color: var(--blueSecondary)
}

#moneySpan {
	border-right: solid 1px white;
    padding-right: 5px;
}

#optionsLogin > .options {
	padding: 0 5px;
    text-align: center;
    color: var(--blueSecondary)
}

.userName {
	font-size: 15px;
	color: var(--blueSecondary) !important
}

.options > p {
	font-size: 15px;
	margin: 0;
}

.options > i {
	color: var(--white)
}

.options > span.badge {
	color: var(--white);
	background-color: var(--blueSecondary);
}

#span {
	border-right: solid 1px white
}

.arrowsCarousel {
	width: 35px;
}

#prevArrow {
	margin-right: 80px
}

#nextArrow {
	margin-left: 80px
}

#categories-carousel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.categories {
	border-bottom: solid 1px;
    margin: 20px 200px;
}

#elipsegris1 {
	z-index: 1
}

#elipsegris2 {
	position: absolute;
    left: 65px;
    z-index: 1;
}

#elipseazul1 {
	position: absolute;
    left: 110px;
    z-index: 1;
}

.col-products {
    flex: 0 0 17.9%;
}

.more-sales {
	font-size: 25px
}

#more {
	color: var(--blueSecondary)
}

.otherLinks {
	color: var(--graySmoke)
}

.marcas {
	justify-content: space-evenly;
}

.col-marcas {
	flex: 0 0 26.2%
}

.rating-start {
	width: 15%
}

.bannerBlue {
	height: 50px;
	background-color: var(--blueSecondary);
	z-index: 1
}

#top {
	top: 0
}

#bottom {
	bottom: 0
}

.ade {
	z-index: 2;
    flex: 0 0 26.2%;
    background-color: var(--smoke);
    box-shadow: 0 0 10px var(--shadow);
}

.containerPubli {
	justify-content: space-evenly;
}

.imgPubli {
	width: 35%;
	margin: 30px
}

.publicaGratis {
	text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--bluePrincipal);
}

.publica {
	font-size: 25px;
    position: absolute;
    left: 38%;
    top: -10px;
    line-height: 19px;
    letter-spacing: 3px;
}

.gratis {
	font-weight: 900;
    font-size: 50px;
    line-height: 59px;
}

img.img-fluid.imgEspecial {
    box-shadow: 0 0 5px var(--shadow);
    background: white;
}

.especial {
	flex: 0 0 13.7%;
	z-index: 2
}

.rowImgEspecial {
	justify-content: space-evenly
}

.blue2 {
	z-index: 1;
    bottom: 50%;
}

#newsletter {
	background-color: var(--bluePrincipal);
	justify-content: space-evenly;
    padding: 3rem 0;
}

.colFooter1 {
	text-align: right;
    flex: 0 0 30%;
    color: white;
    font-size: 19px;
    font-weight: 500;
}

.colFooter2 {
	flex: 0 0 30%;
}

.colFooter2 > input {
	border-radius: 10px
}

.colFooter3 {
	flex: 0 0 20%;
}

.colFooter3 > .btn {
	background: var(--blueSecondary);
    border-radius: 10px;
    padding: 6px 32px;
}

#links {
	justify-content: space-evenly;
}

.articleLink {
	font-size: 15px
}